.filler {
    width: 100%;
    height: 3000px;
}

.experience {
    width: 100%;
    height: auto;
    min-height: 1364px;
    position: relative;
    background: linear-gradient(1.58deg, rgba(255, 255, 255, 0.7) 1.34%,
            rgba(255, 255, 255, 0) 7.5%),
        linear-gradient(179.43deg, #FFFFFF -5.47%, rgba(255, 255, 255, 0.64043) 56.1%, rgba(255, 255, 255, 0) 99.51%),
        #DFEAEF;
    margin-bottom: 106px;
}

.experience__snake-line {
    background-image: url("./img/snake-line.png");
    height: 330px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-position: center;
}

.experience__road {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./img/road.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.experience__year {
    position: absolute;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.experience__dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
}

.experience__year_twelve {
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 432px;
}

.experience__dot_twelve {
    top: 59px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 318px;
}

.experience__text-card_small {
    padding: 8px 15px;
    position: absolute;
    width: 139px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border: 1px solid #A0D468;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #212121;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
}

.experience__text-card_zoner {
    top: 108px;
    left: 0;
    right: 372px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.experience__year_fifteen {
    top: 72px;
    margin-left: auto;
    margin-right: auto;
    left: 230px;
    right: 0;
}

.experience__dot_fifteen {
    top: 105px;
    margin-left: auto;
    margin-right: auto;
    left: 320px;
    right: 0;
}

.experience__text-card_bayer {
    top: 113px;
    left: 540px;
    right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.experience__year_eighteen {
    top: 240px;
    margin-left: auto;
    margin-right: auto;
    left: 126px;
    right: 0;
}

.experience__year_nineteen {
    top: 312px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 15px;
}

.experience__dot_nineteen {
    top: 364px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 60px;
}

.experience__text-card_start {
    top: 356px;
    left: 126px;
    right: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.experience__icon-line {
    position: absolute;
}

.experience__icon-line_left {
    border-top: 3px solid #4A89DC;
}

.experience__icon-line_right {
    border-top: 3px solid #FFCE54;
}

.experience__icon-line_desktop {
    width: 240px;
    top: 424px;
    left: 0;
    right: 420px;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon-line_chemistry {
    width: 344px;
    top: 502px;
    left: 316px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon-line_reward {
    width: 290px;
    top: 652px;
    left: 0;
    right: 380px;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon-line_phone {
    width: 272px;
    top: 716px;
    left: 404px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon-line_partnership {
    width: 330px;
    top: 860px;
    left: 0;
    right: 360px;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon-line_ground {
    width: 300px;
    top: 972px;
    left: 380px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.experience__icon_desktop {
    top: 400px;
    left: 0;
    right: 218px;
}

.experience__icon_chemistry {
    top: 450px;
    left: 0;
    right: 34px;
}

.experience__year_twenty {
    top: 566px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 90px;
}

.experience__dot_twenty {
    top: 612px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 60px;
}

.experience__icon_reward {
    top: 614px;
    left: 0;
    right: 106px;
}

.experience__icon_phone {
    top: 670px;
    left: 146px;
    right: 0;
}

.experience__year_twenty-one {
    top: 794px;
    margin-left: auto;
    margin-right: auto;
    left: 86px;
    right: 0;
}

.experience__dot_twenty-one {
    top: 846px;
    margin-left: auto;
    margin-right: auto;
    left: 72px;
    right: 0;
}

.experience__icon_partnership {
    top: 840px;
    left: 0;
    right: 30px;
}

.experience__icon_ground {
    top: 920px;
    left: 88px;
    right: 0;
}

.experience__year_twenty-two {
    top: 1120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 82px;
}

.experience__drone {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 266px;
    bottom: 140px;
    animation-duration: 4s;
    animation-name: flying-drone;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 99;
}

@keyframes flying-drone {
    0% {
        right: 266px;
        bottom: 140px;
        left: 0;
    }

    33% {
        right: 0px;
        left: 100px;
        bottom: 50px;
    }

    66% {
        right: 100px;
        left: 0px;
        bottom: 50px;
    }

    100% {
        right: 266px;
        bottom: 140px;
    }
}

.experience__satellite {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 236px;
    right: 0;
    bottom: 124px;
    animation-duration: 5s;
    animation-name: flying-satellite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes flying-satellite {
    0% {
        left: 236px;
        bottom: 124px;
    }

    50% {
        left: 206px;
        bottom: 144px;
    }

    100% {
        left: 236px;
        bottom: 124px;
    }
}

.experience__land {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 24px;
    bottom: -56px;
}

.experience__content {
    width: 100%;
    max-width: 1110px;
    display: flex;
    padding: 340px 0 0;
    margin: auto;
    justify-content: space-between;
}

.experience__column-block {
    z-index: 2;
}

.experience__column-title {
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #212121;
    margin: 0;
    text-align: center;
}

.experience__text-block {
    width: 245px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.experience__text-block_left {
    border: 3px solid #4A89DC;
}

.experience__text-block_left:nth-child(2) {
    margin-top: 14px;
}

.experience__text-block_left:nth-child(3) {
    margin-top: 44px;
}

.experience__text-block_left:nth-child(4) {
    margin-top: 42px;
}

.experience__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 6px 6px 6px 14px;
    min-height: 51px;
}

.experience__list:nth-child(2n) {
    margin-top: 15px;
}

.experience__list-item {
    list-style-type: none;
}

.experience__list-item:before {
    color: red;
    content: "•";
    padding-right: 8px;
}

.experience__list-item {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #212121;
}

.experience__eye-catching-text {
    color: #B40000;
    font-weight: 600;
}

.experience__text-block_right {
    border: 3px solid #FFCE54;
}

.experience__text-block_right:nth-child(2) {
    margin-top: 89px;
}

.experience__text-block_right:nth-child(3) {
    margin-top: 69px;
}

.experience__text-block_right:nth-child(4) {
    margin-top: 41px;
}

.experience__cloud-block {
    position: absolute;
    bottom: -106px;
    background-image: url("./img/cloud.png");
    background-position: center;
    background-repeat: repeat-x;
    height: 216px;
    width: 100%;
}

.experience__cloud_first {
    bottom: -89px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 24px;
}

@media (max-width: 768px) {
    .experience {
        min-height: 1886px;
        margin-bottom: 106px;
    }

    .experience__road {
        background-image: url("./img/road_mob.png");
    }

    .experience__year {
        font-size: 14px;
        line-height: 19px;
        width: fit-content;
        background: #8CC152;
    }

    .experience__dot {
        width: 10px;
        height: 10px;
    }

    .experience__year_twelve {
        top: 30px;
        left: 0;
        right: 172px;
    }

    .experience__dot_twelve {
        top: 48px;
        left: 0;
        right: 108px;
    }

    .experience__text-card_zoner {
        top: 86px;
        left: 0;
        right: 130px;
    }

    .experience__year_fifteen {
        top: 95px;
        left: 100px;
        right: 0;
    }

    .experience__dot_fifteen {
        top: 122px;
        left: 125px;
        right: 0;
    }

    .experience__text-card_bayer {
        top: 134px;
        left: 278px;
        right: 0;
    }

    .experience__year_eighteen {
        top: 198px;
        left: 74px;
        right: 0;
    }

    .experience__year_nineteen {
        top: 252px;
        left: 0;
        right: 66px;
    }

    .experience__dot_nineteen {
        top: 282px;
        left: 0;
        right: 120px;
    }

    .experience__text-card_start {
        display: none;
    }

    .experience__icon_desktop {
        top: 300px;
        left: 0;
        right: 194px;
        width: 64px;
    }

    .experience__icon-line_desktop {
        width: 118px;
        top: 325px;
        left: 0;
        right: 52px;
    }

    .experience__icon_chemistry {
        width: 60px;
        top: 409px;
        left: 0;
        right: 156px;
    }

    .experience__icon-line_chemistry {
        width: 118px;
        top: 454px;
        left: 0;
        right: 40px;
    }

    .experience__year_twenty {
        top: 528px;
        left: 224px;
        right: 0;
    }

    .experience__dot_twenty {
        top: 554px;
        left: 266px;
        right: 0;
    }

    .experience__icon_reward {
        width: 60px;
        top: 572px;
        left: 287px;
        right: 0;
    }

    .experience__icon-line_reward {
        width: 80px;
        top: 600px;
        left: 206px;
        right: 0;
    }

    .experience__icon_phone {
        width: 60px;
        top: 700px;
        left: 256px;
        right: 0;
    }

    .experience__icon-line_phone {
        width: 80px;
        top: 730px;
        left: 180px;
        right: 0;
    }

    .experience__year_twenty-one {
        top: 858px;
        left: 0;
        right: 26px;
    }

    .experience__dot_twenty-one {
        top: 888px;
        left: 0;
        right: 107px;
    }

    .experience__icon_partnership {
        width: 60px;
        top: 954px;
        left: 0px;
        right: 180px;
    }

    .experience__icon-line_partnership {
        width: 98px;
        top: 974px;
        left: 0;
        right: 90px;
    }

    .experience__icon_ground {
        width: 60px;
        top: 1300px;
        left: 250px;
        right: 0;
    }

    .experience__icon-line_ground {
        width: 100px;
        top: 1334px;
        left: 137px;
        right: 0;
    }

    .experience__year_twenty-two {
        top: 1594px;
        left: 0;
        right: 4px;
    }

    .experience__content {
        position: relative;
    }

    .experience__column-title {
        display: none;
    }

    .experience__list {
        padding: 6px 6px 6px 14px;
        min-height: 40px;
    }

    .experience__list-item {
        font-size: 12px;
        line-height: 19px;
    }

    .experience__text-block_left:nth-child(2) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 206px;
        right: 0;
        top: 225px;
        width: 210px;
    }

    .experience__text-block_left:nth-child(3) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 36px;
        top: 526px;
        width: 210px;
    }

    .experience__text-block_left:nth-child(4) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 126px;
        right: 0;
        top: 892px;
        width: 210px;
    }

    .experience__text-block_right:nth-child(2) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 206px;
        right: 0;
        top: 426px;
        width: 210px;
    }

    .experience__text-block_right:nth-child(3) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 36px;
        top: 668px;
        width: 210px;
    }

    .experience__text-block_right:nth-child(4) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 74px;
        top: 1244px;
        width: 210px;
    }
}

@media (max-width: 420px) {
    .experience__text-card_bayer {
        left: unset;
        right: 0;
    }

    .experience__text-block_left:nth-child(2) {
        left: unset;
        right: 0;
    }

    .experience__text-block_left:nth-child(3) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 36px;
        top: 526px;
        width: 210px;
    }

    .experience__text-block_left:nth-child(4) {
        left: unset;
        right: 0;
    }

    .experience__text-block_right:nth-child(2) {
        left: unset;
        right: 0;
    }

    .experience__text-block_right:nth-child(3) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 36px;
        top: 668px;
        width: 210px;
    }

    .experience__text-block_right:nth-child(4) {
        margin-top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 74px;
        top: 1244px;
        width: 210px;
    }
}

.experience__hidden {
    opacity: 0;
    visibility: hidden;
    transition: 1.5s opacity, 1.5s visibility;
}

.experience__visible {
    opacity: 1;
    visibility: visible;
}